*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/baselineprofile/build
# Container/sandbox build state (GRADLE_USER_HOME / ANDROID_USER_HOME redirection)
/.gradle-user-home
/.android-home
